
body{ 
  background-image : url("Aathi_Img/BACKGROUND.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  }

  h1 {
    font-size: 36px;
    color: #2c2d42;
  }

  hr{
    border:1px solid black;
  }
  
.boxes
{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 100px;        
 }

.box
{
  width:285px;
  height: 700px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.6s ease;
}
.box:hover
{
  transform: translateY(-20px);
}
.box img
{
  width: 100%;;
  height: 250;
  object-fit: cover;
}

.box-content 
{
  padding:20px;
}

.box-content h1
{
  font-size: 24px;
  margin-bottom: 10px; 
}

.box-content p
{
  font-size: 15px;
  margin-bottom: 20px;
}   
header {
  background-color: white;
}




